.main>h1{
    text-align: center;
}
.abt{
    display: flex;
    margin-left: 10%;
}
.a-left{
    justify-items: center;  
    padding: 50px;
}
.a-left>img{
    height: 200px;
    width: 200px;
    border-radius: 40px;
}
.a-right{
    color: #041c21;
    width: 70%;
    margin-top: 5%;
   
}
.a-right>:nth-child(1){
    
    margin-bottom: 45px;
}
.a-right>:nth-child(2){
   
    margin-bottom: auto;
}
@media screen and (max-width: 768px) {
    .abt {
        flex-direction: column;
    }

    .a-right {
        width: 100%;
    }

    .a-left,
    .a-right {
        padding: 1rem;
    }

    .a-left > img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}

  
  