.contact {
    padding: 20px;
    background-color: #cec5c5;
    display: grid;
    justify-content: center;

  }
  
  .contact h1 {
    color: #333;
  }
  
  .icon {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
  }
  
  .icon a {
    margin: 0 10px;
    font-size: 30px;
    color: #333;
    text-decoration: none;
  }
  
  .gmail {
    display: block;
    margin-top: 10px;
    color: #555;
  }
  