.home{
    display: grid;
  }
  .intro{
      display: flex;
      height: 77vh;
      margin-top: 50px;
  }
  .i-left{ 
      display: grid;
      position: relative;
      align-items: center;
      flex-direction: column;
      width: 60%;
  }
  .name{
      margin-top: 100px;
      display: grid;
      margin-left: 60px;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .name>h2{
    animation: vi 4s ease infinite;
  }
  @keyframes vi {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  .img_i{
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }

  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d5cdcd40;
    box-shadow: 0 5px 5px 5px rgba(176, 182, 182, 0.22);
    padding: 8px;
}
.bottom>img{
    width: auto;
    height: auto;
}
  .name>span{
    margin-left: 30%;
    margin-top: 10px;
      width: 9rem;
      height: 3rem;
      text-align: center;
      border-radius: 25px 0px 25px 0px;
      border: none;
      color: white;
      font-size: 16px;
      padding-top: 24px;
      background-color: #6468648f;
      box-shadow:0px 20px 24px 3px rgb(206 208 208 / 67%);
      animation: upDown 3s ease infinite;
  } 

  @keyframes upDown {
    0% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(20%);
    }
    
  } 

.scr{
    display: flex;
    justify-content: space-between;
}
.down{
    margin-left: 13rem;
    margin-top: 50px;
    margin-bottom: 10px;
}
.down:nth-child(1){
    transform: scale(1.5);
}
.pdf{
  display: grid;
  position: fixed;
  right: 1%;
}
.pdf>span{
  color: #000000b5;
  margin-top: 10px;
}
.pdf>a{
  transform: scale(2);
    color: #00000094;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
  .i-left {
      width: 100%;
  }

  .name {
    margin-top: 50px;
    margin-left: 20px;
  }

  .name>span {
      margin-left: 0;
  }

  .scr {
      flex-direction: column;
      align-items: center;
  }

  .down {
      margin-left: 0;
      margin-top: 20px;
  }
 .i-right>img{
  margin-top: 20rem;
  height: auto;
 }
 .intro{
  margin-bottom: 80px;
 }
}