.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0d0c0c;
    padding: 1rem;
    color: #fff;
    position: fixed;
    box-shadow: 0 5px 5px 5px rgba(221, 223, 223, 0.22);
    width: 100%;
    /* z-index: 100; */
}

.n-left {
    text-align: left;
}

.n-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.n-right {
    text-align: right;
}

.list {
    display: flex;
    justify-content: flex-end;
}

.ul {
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
}

.ul a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 1rem;
}

.ul a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}
@media screen and (max-width: 768px) {
  .wrapper {
      display: flex;
      align-items: flex-start;
      /* position: fixed; */
  }

  .list {
      justify-content: center;
  }
}