.project{
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 3rem 0px;
    width: 100%;
}

.projects{
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    max-width: 1000px;
    text-align: center;
    border-radius: 2%;
    margin: 5rem auto;
    padding: 0.5rem;
}
.title{
margin-bottom: 80px;
}
.img_p>img{
    height: 300px;
    width: 300px;
    border-radius: 5%;
    margin: 0.6rem;
}
.text>p{
      font-size: 16px;
      text-align: justify;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}


.code>a{
    text-decoration: none;
     margin-left: 50px;
} 
@media screen and (max-width: 768px) {
    .projects {
        flex-direction: column;
        margin: 20px;
    }

    .img_p > img {
        height: 200px;
        width: 200px;
    }

    .title {
        margin-bottom: 40px;
    }
}